//COLOR
$white                 : #FFFFFF;
$black                 : #000000;
$purple                : #46178F;
$red                   : #BF3939;
$green                 : #66BF39;
$dark-green            : #408020;
$dark-purple-color     : #461F8C;

$game-red              : #FF3355;
$game-dark-red         : #BB2740;
$game-blue             : #45A3E5;
$game-dark-blue        : #377EB1;
$game-orange           : #EB670F;
$game-dark-orange      : #AD4702;
$game-green            : #66BF39;
$game-dark-green       : #40881C;

$game-grey-answer      : #3B3737;
$game-dark-grey-answer : #352D2D;
$none                  : transparent;

$dark-mode-one         : #121213;
$dark-mode-two         : #1C1E21;

$lazy-loading          : #c188cf62;