//COLOR
$white      : #FFFFFF;
$black      : #000000;
$purple     : #46178F;
$red        : #bf3939;
$green      : #66BF39;
$dark-green : #408020;
$dark-purple-color: #461F8C;

$game-red               : #ff3355;
$game-dark-red          : #bb2740;
$game-blue              : #45a3e5;
$game-dark-blue         : #377eb1;
$game-orange            : #eb670f;
$game-dark-orange       : #ad4702;
$game-green             : #66bf39;
$game-dark-green        : #40881c;

$game-grey-answer       : #3b3737;
$game-dark-grey-answer  : #352d2d;
$none : transparent;