@import "../helpers/_variables";

.App-dark {
  height           : 100vh;
  width            : 100vw;
  overflow         : hidden;
  background-color : $dark-mode-two;
  color            : $white;

  a {
    color           : $white;
    text-decoration : none;

    &:hover {
      text-decoration : underline;
      }
    }

    .red {
        background-color : $black;
        }
      
      .green {
        background-color : $black;
        }
      
      .blue {
          background-color: $black;
      }
      
      .orange {
          background-color: $black;
      }
      .footer {
        position         : fixed;
        left             : 0;
        bottom           : 0;
        width            : 100%;
        text-align       : center;
        color            : $white;
        background-color : $dark-mode-one;
        height           : 15vh;
      }
  }
