@import "../helpers/_variables";

.PlayButton {
  display          : block;
  margin           : auto;
  height           : 75px;
  width            : 300px;
  border-radius    : 5px;
  cursor           : pointer;
  background-color : $green;
  color            : $white;
  font-size        : 2.5em;
  font-weight      : bold;
  transition       : 0.2s;
  
  &:hover {
    background-color : $dark-green;
    font-size        : 3em;
    transition       : 0.2s;
    font-weight      : bolder;
  }
}