@import "../helpers/_variables";

.quizzButtonsList {
  display               : grid;
  grid-template-columns : repeat(2, 2fr);
  width                 : 100%;
  grid-gap              : 10px;
  position              : fixed;
  left                  : 0;
  top                   : 20%;
  margin                : 1px;
  
  a {
    color : $white;
  }
}

@media only screen and (max-width: 600px) {
  .quizzButtonsList {
    section{
      width: 180px;
      margin: auto;
    }
    h1{
      font-size: 20px;
    }
  }
}
