# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../quizz-project\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\azor40k\Desktop\react\project\quizz-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
